.wrapper-main{
    user-select: none;
}
.text-sale{
    font-family: 'Amatic SC';
    color: #000;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}
.sale-card{
    display: flex;
    max-width: 1620px;
    margin: 0 auto;
    margin-top: 40px;

}
.sale-card-one,
.sale-card-two,
.sale-card-three{
    padding-right: 20px;
}