footer{
    background: #ececec;
    user-select: none;
    margin-top: 35rem;
}
.footer-wraper{
    max-width: 1636px;
    margin: 0 auto;
    max-height: 100%;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.footer-title{
    color: #000;
    font-size: 38px;
    font-family: Montserrat;
    font-weight: 800;
}
.footer-text-one p,
.footer-text-two p,
.footer-text-three p{
    color: #000;
    font-size: 26px;
    font-family: Montserrat;
    font-weight: 600;
    padding: 5px;
}
.black-bar{
    border-bottom: 5px solid #000;
    border-radius: 20px;
    width: auto;
}
.footer-bottom{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
}
.footer-number{
    color: #FFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-family: Montserrat;
    border-radius: 40px;
    background: #DA4B4B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 374px;
    height: 85px;
    text-align: center;
}
.footer-icons{
    border-radius: 50px;
    background: #FF6060;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 402px;
    height: 76px;
    display: flex;
    justify-content: space-between;
}
.footer-icon-one {
    padding-top: 10px;
    padding-left: 20px;
}
.footer-icon-two {
    padding-top: 10px;
}
.footer-icon-three {
    padding-top: 5px;
    padding-right: 20px;
}
.google-icon{
    width: 346px;
    height: 103px;
}