/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
.slider{
  margin-top: 50px;
}
.d-block{
    margin-left: 25%;
    margin-top: 20px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}